.header {
  width: 100%;
  height: 65rem;
  padding: 0 5rem;
  background-color: #9e9e9e; }
  .header__row1 {
    display: flex;
    justify-content: space-between;
    height: 8rem; }
    .header__row1__logo {
      font-size: 1.5rem;
      border: 0.1rem solid black;
      padding: 0 1rem;
      display: flex;
      align-items: center; }
    .header__row1__navBar {
      display: flex;
      justify-content: space-between;
      width: 40rem; }
      .header__row1__navBar__boton {
        border: none;
        background-color: transparent; }
        .header__row1__navBar__boton--text {
          color: #f8cf57;
          text-decoration: none;
          font-weight: 500;
          font-size: 1.3rem; }
  .header__row2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%; }
    .header__row2__presentacion {
      display: flex;
      flex-direction: column;
      margin-bottom: 20rem; }
      .header__row2__presentacion__titulo {
        font-size: 3rem;
        font-weight: 500;
        color: #ffffff; }
      .header__row2__presentacion__boton {
        width: 14rem;
        height: 2.3rem;
        background-color: #f8cf57;
        border-radius: 0.5rem;
        border: none;
        font-weight: 500; }

.main__separadorEspectaculos {
  margin: 2rem 0; }
  .main__separadorEspectaculos__h2 {
    width: 100%;
    text-align: center;
    border-bottom: 0.2rem solid #c3457e;
    line-height: 0.1rem;
    margin: 0.1rem 0 0.2rem; }
    .main__separadorEspectaculos__h2__span {
      background: #fff;
      padding: 0 10px;
      color: #c3457e;
      font-weight: 600; }

.main__espectaculos {
  padding: 0 5rem; }
  .main__espectaculos__articulos {
    display: flex;
    justify-content: space-between; }
    .main__espectaculos__articulos__articulo {
      width: 49%;
      padding: 1rem;
      box-shadow: 0 0.1rem 0.2rem #9e9e9e;
      border-radius: 0.6rem; }
      .main__espectaculos__articulos__articulo--img {
        width: 100%;
        height: 25rem;
        border: 0.1rem solid black; }
      .main__espectaculos__articulos__articulo__row1 {
        padding: 0 1.5rem;
        margin: 1rem 0; }
      .main__espectaculos__articulos__articulo__row2 {
        padding: 0 1.5rem; }
      .main__espectaculos__articulos__articulo__row3 {
        display: flex;
        justify-content: flex-end;
        margin: 1.5rem 0; }
        .main__espectaculos__articulos__articulo__row3__boton {
          width: 14rem;
          height: 2.3rem;
          background-color: #f8cf57;
          border-radius: 0.5rem;
          border: none;
          font-weight: 500; }

.main__separadorAgenda {
  margin: 3rem 0; }
  .main__separadorAgenda__h2 {
    width: 100%;
    text-align: start;
    border-bottom: 0.2rem solid #c3457e;
    line-height: 0.1rem;
    margin: 0.1rem 0 0.2rem; }
    .main__separadorAgenda__h2__span {
      background: #fff;
      padding: 0 10px;
      color: #c3457e;
      font-weight: 600;
      margin-left: 5rem; }

.main__agenda {
  display: flex;
  padding: 0 5rem;
  gap: 2rem;
  margin-bottom: 2rem; }
  .main__agenda__col1 {
    width: 80%; }
  .main__agenda__col2 {
    display: flex;
    align-items: center; }
    .main__agenda__col2__boton {
      width: 20rem;
      height: 2.3rem;
      background-color: transparent;
      border: 0.1rem solid #c3457e;
      border-radius: 0.5rem;
      font-weight: 500;
      color: #c3457e; }
    .main__agenda__col2__boton:hover {
      background-color: #c3457e;
      color: #ffffff; }

.footer {
  display: flex;
  background-color: #870640;
  color: #ffffff;
  padding: 2rem 5rem 3rem; }
  .footer__conversemos__titulo__texto {
    font-size: 2rem;
    font-weight: 700; }
  .footer__conversemos__parrafo {
    padding-left: 1rem; }
    .footer__conversemos__parrafo__texto {
      font-size: 1.2rem; }
  .footer__conversemos__parrafo2 {
    padding-left: 1rem; }
    .footer__conversemos__parrafo2__texto {
      font-size: 1.2rem;
      font-weight: 700; }
  .footer__conversemos__tituloRedes {
    padding-left: 1rem; }
    .footer__conversemos__tituloRedes__texto {
      font-size: 1.2rem; }
  .footer__conversemos__redes {
    display: flex;
    width: 22rem;
    justify-content: space-around; }
    .footer__conversemos__redes__links {
      background-color: #d8ab27;
      border-radius: 3rem;
      padding: 0.6rem;
      display: flex;
      text-decoration: none; }
      .footer__conversemos__redes__links__img {
        color: #ffffff;
        font-size: 1.4rem; }
  .footer__formIndex {
    margin-top: 2.5rem; }
    .footer__formIndex__nombre__label {
      font-size: 1.2rem; }
    .footer__formIndex__email__label {
      font-size: 1.2rem; }
    .footer__formIndex__telefono__label {
      font-size: 1.2rem; }
    .footer__formIndex__pregunta__texto {
      font-size: 1.5rem;
      font-weight: 600; }
    .footer__formIndex__optionEmail {
      display: flex;
      align-items: center;
      margin-left: 0.8rem; }
      .footer__formIndex__optionEmail__input {
        background-color: transparent; }
      .footer__formIndex__optionEmail__label {
        font-size: 1.2rem;
        margin-left: 0.8rem; }
    .footer__formIndex__optionTelefono {
      display: flex;
      align-items: center;
      margin-left: 0.8rem; }
      .footer__formIndex__optionTelefono__input {
        background-color: transparent; }
      .footer__formIndex__optionTelefono__label {
        font-size: 1.2rem;
        margin-left: 0.8rem; }
    .footer__formIndex__botonSubmit {
      display: flex;
      justify-content: flex-end; }
      .footer__formIndex__botonSubmit__boton {
        width: 14rem;
        height: 2.3rem;
        background-color: #f8cf57;
        border-radius: 0.5rem;
        border: none;
        font-weight: 500; }

.headers {
  display: flex;
  justify-content: space-between;
  margin: 0 5rem;
  height: 8rem; }
  .headers__logo {
    font-size: 1.5rem;
    border: 0.1rem solid black;
    padding: 0 1rem;
    display: flex;
    align-items: center; }
  .headers__navBar {
    display: flex;
    justify-content: space-between;
    width: 40rem; }
    .headers__navBar__boton {
      border: none;
      background-color: transparent; }
      .headers__navBar__boton--textOscuro {
        color: #c3457e;
        text-decoration: none;
        font-weight: 500;
        font-size: 1.3rem; }
      .headers__navBar__boton--textClaro {
        color: #f8cf57;
        text-decoration: none;
        font-weight: 500;
        font-size: 1.3rem; }

.mainEspectaculos__separadorAnimacion {
  margin: 2rem 0 2rem 5rem; }
  .mainEspectaculos__separadorAnimacion__h2 {
    width: 100%;
    text-align: start;
    border-bottom: 0.2rem solid #c3457e;
    line-height: 0.1rem;
    margin: 0.1rem 0 0.2rem; }
    .mainEspectaculos__separadorAnimacion__h2__span {
      background: #fff;
      padding: 0 10px;
      color: #c3457e;
      font-weight: 600; }

.mainEspectaculos__animacion {
  margin-top: 4rem;
  padding: 0 5rem 2rem; }
  .mainEspectaculos__animacion__row1 {
    display: flex;
    justify-content: space-between; }
    .mainEspectaculos__animacion__row1__parrafo {
      width: 55%; }
    .mainEspectaculos__animacion__row1__img {
      width: 40%;
      height: 20rem;
      border-radius: 0.5rem; }
  .mainEspectaculos__animacion__row2 {
    display: flex;
    align-items: center;
    flex-direction: column; }
    .mainEspectaculos__animacion__row2__carrousel {
      margin: 2rem 0;
      width: 80rem;
      height: 30rem; }
    .mainEspectaculos__animacion__row2__boton {
      width: 23rem;
      height: 2.5rem;
      background-color: #c3457e;
      border-radius: 0.5rem;
      font-weight: 400;
      color: #ffffff;
      border: none;
      font-family: Arial, Helvetica, sans-serif; }

.mainEspectaculos__separadorPresentaciones {
  margin: 2rem 5rem 2rem 0; }
  .mainEspectaculos__separadorPresentaciones__h2 {
    width: 100%;
    text-align: end;
    border-bottom: 0.2rem solid #c3457e;
    line-height: 0.1rem;
    margin: 0.1rem 0 0.2rem; }
    .mainEspectaculos__separadorPresentaciones__h2__span {
      background: #fff;
      padding: 0 10px;
      color: #c3457e;
      font-weight: 600; }

.mainEspectaculos__presentaciones {
  padding: 0 5rem;
  margin-top: 4rem; }
  .mainEspectaculos__presentaciones__row1 {
    display: flex;
    justify-content: space-between; }
    .mainEspectaculos__presentaciones__row1__parrafo {
      width: 55%; }
    .mainEspectaculos__presentaciones__row1__img {
      width: 40%;
      height: 20rem;
      border-radius: 0.5rem; }
  .mainEspectaculos__presentaciones__row2 {
    display: flex;
    align-items: center;
    flex-direction: column; }
    .mainEspectaculos__presentaciones__row2__carrousel {
      margin: 2rem 0;
      width: 80rem;
      height: 30rem; }
    .mainEspectaculos__presentaciones__row2__boton {
      width: 23rem;
      height: 2.5rem;
      background-color: #c3457e;
      border-radius: 0.5rem;
      font-weight: 400;
      color: #ffffff;
      border: none;
      font-family: Arial, Helvetica, sans-serif; }

.footerEspectaculos {
  height: 9rem;
  background-color: #ee91bc;
  margin: 3rem 0 4rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .footerEspectaculos__texto {
    font-size: 3rem;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }
  .footerEspectaculos__boton {
    width: 23rem;
    height: 2.5rem;
    background-color: #f8cf57;
    border-radius: 0.5rem;
    font-weight: 400;
    color: #121212;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 3rem; }

.bodyContacto {
  background: linear-gradient(#5b5b5b, #ffd4e8 40%); }

.mainContacto {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 5rem;
  height: 35rem; }
  .mainContacto__text {
    font-size: 3rem;
    font-weight: 600; }

.footerContacto {
  padding: 5rem 5rem;
  background: transparent; }
  .footerContacto__row {
    display: flex; }
  .footerContacto__parrafo {
    display: flex; }
    .footerContacto__parrafo__text {
      color: #c3457e;
      font-size: 2.5rem;
      font-weight: 600; }
  .footerContacto__col1 {
    width: 60%; }
    .footerContacto__col1__formContacto {
      height: 35rem; }
      .footerContacto__col1__formContacto__textArea {
        width: 100%;
        border: none;
        height: 14rem;
        padding: 1rem; }
      .footerContacto__col1__formContacto__btns {
        display: flex;
        justify-content: flex-end; }
        .footerContacto__col1__formContacto__btns__btnSend {
          width: 15rem;
          height: 2.5rem;
          background-color: #c3457e;
          border-radius: 0.5rem;
          font-weight: 400;
          color: #ffffff;
          border: none;
          font-family: Arial, Helvetica, sans-serif; }
  .footerContacto__col2 {
    width: 40%;
    display: flex;
    justify-content: flex-end; }
    .footerContacto__col2__contacto {
      height: 35rem;
      width: 90%;
      border-radius: 1rem;
      padding: 2rem;
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      .footerContacto__col2__contacto__titulo {
        font-size: 2.2rem;
        font-weight: 700;
        margin-bottom: 2rem; }
      .footerContacto__col2__contacto__datos {
        margin-bottom: 0.5rem;
        font-size: 1.1rem; }
        .footerContacto__col2__contacto__datos--bold {
          font-weight: 700; }
      .footerContacto__col2__contacto__redes {
        margin-top: 3rem; }
        .footerContacto__col2__contacto__redes__titulo {
          font-size: 1.5rem;
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }
        .footerContacto__col2__contacto__redes__links {
          display: flex;
          justify-content: space-between;
          padding-right: 2rem; }
          .footerContacto__col2__contacto__redes__links__link {
            background-color: #870640;
            border-radius: 3rem;
            padding: 0.6rem;
            display: flex;
            text-decoration: none; }
            .footerContacto__col2__contacto__redes__links__link__img {
              color: #ffffff;
              font-size: 1.4rem; }

* {
  margin: 0%;
  padding: 0%; }

html {
  font-size: 62.5%; }

body {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  text-decoration: none; }
