.header {
  height: max-content;
  position: relative; }
  .header__carrousel {
    z-index: -99; }
    .header__carrousel__imgs__img {
      width: 100%; }
  .header__row1 {
    display: flex;
    justify-content: space-between;
    height: 8rem;
    position: absolute;
    width: 100%; }
    .header__row1__logo {
      font-size: 1.5rem;
      padding: 0 1rem;
      display: flex;
      align-items: center; }
    .header__row1__navBar {
      display: flex;
      justify-content: space-between;
      width: 60rem;
      padding-right: 15rem; }
      .header__row1__navBar__boton {
        border: none;
        background-color: transparent; }
        .header__row1__navBar__boton--text {
          color: #f8cf57;
          text-decoration: none;
          font-weight: 400;
          font-size: 1.3rem;
          font-family: "Work Sans", sans-serif; }
  .header__row2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 65rem;
    left: 15rem; }
    .header__row2__presentacion {
      display: flex;
      flex-direction: column; }
      .header__row2__presentacion__titulo {
        font-size: 4rem;
        font-weight: 700;
        color: #ffffff;
        font-family: "Work Sans", sans-serif; }
      .header__row2__presentacion__boton {
        padding: 0.5rem 6.1rem;
        background-color: #f8cf57;
        border-radius: 0.5rem;
        border: none;
        font-family: "Work Sans", sans-serif;
        font-size: 1.3rem;
        text-transform: uppercase; }

.main__separadorEspectaculos {
  margin: 2rem 0; }
  .main__separadorEspectaculos__h2 {
    width: 100%;
    text-align: center;
    border-bottom: 0.2rem solid #c3457e;
    line-height: 0.1rem;
    margin: 0.1rem 0 0.2rem; }
    .main__separadorEspectaculos__h2__span {
      background: #fff;
      padding: 0 10px;
      color: #c3457e;
      font-weight: 600; }

.main__espectaculos {
  padding: 0 5rem; }
  .main__espectaculos__articulos {
    display: flex;
    justify-content: space-between; }
    .main__espectaculos__articulos__articulo {
      width: 49%;
      padding: 1rem;
      box-shadow: 0 0.1rem 0.2rem #9e9e9e;
      border-radius: 0.6rem; }
      .main__espectaculos__articulos__articulo--img {
        width: 100%;
        height: 25rem;
        border: 0.1rem solid black; }
      .main__espectaculos__articulos__articulo__row1 {
        padding: 0 1.5rem;
        margin: 1rem 0; }
      .main__espectaculos__articulos__articulo__row2 {
        padding: 0 1.5rem; }
      .main__espectaculos__articulos__articulo__row3 {
        display: flex;
        justify-content: flex-end;
        margin: 1.5rem 0; }
        .main__espectaculos__articulos__articulo__row3__boton {
          width: 14rem;
          height: 2.3rem;
          background-color: #f8cf57;
          border-radius: 0.5rem;
          border: none;
          font-weight: 500; }

.main__separadorAgenda {
  margin: 3rem 0; }
  .main__separadorAgenda__h2 {
    width: 100%;
    text-align: start;
    border-bottom: 0.2rem solid #c3457e;
    line-height: 0.1rem;
    margin: 0.1rem 0 0.2rem; }
    .main__separadorAgenda__h2__span {
      background: #fff;
      padding: 0 10px;
      color: #c3457e;
      font-weight: 600;
      margin-left: 5rem; }

.main__agenda {
  display: flex;
  padding: 0 5rem;
  gap: 2rem;
  margin-bottom: 2rem; }
  .main__agenda__col1 {
    width: 80%; }
  .main__agenda__col2 {
    display: flex;
    align-items: center; }
    .main__agenda__col2__boton {
      width: 20rem;
      height: 2.3rem;
      background-color: transparent;
      border: 0.1rem solid #c3457e;
      border-radius: 0.5rem;
      font-weight: 500;
      color: #c3457e; }
    .main__agenda__col2__boton:hover {
      background-color: #c3457e;
      color: #ffffff; }

.footer {
  display: grid;
  grid-template-columns: 25% 75%;
  background-color: #870640;
  color: #ffffff;
  padding: 2rem 15rem 3rem; }
  .footer__conversemos__titulo__texto {
    font-size: 2rem;
    font-weight: 700; }
  .footer__conversemos__parrafo__texto {
    font-size: 1.8rem;
    font-family: "Work Sans", sans-serif;
    font-weight: 400; }
  .footer__conversemos__parrafo2__texto {
    font-size: 1.8rem;
    font-family: "Work Sans", sans-serif;
    font-weight: 700; }
  .footer__conversemos__tituloRedes__texto {
    font-size: 1.8rem;
    font-family: "Work Sans", sans-serif;
    font-weight: 400; }
  .footer__conversemos__redes {
    display: flex;
    justify-content: space-between; }
    .footer__conversemos__redes__links {
      background-color: #d8ab27;
      border-radius: 3rem;
      padding: 1rem;
      display: flex;
      text-decoration: none; }
      .footer__conversemos__redes__links__img {
        color: #ffffff;
        font-size: 2rem; }
  .footer__formIndex {
    margin-top: 2.5rem;
    margin-left: 10rem; }
    .footer__formIndex__nombre__label {
      font-size: 1.8rem;
      font-family: "Work Sans", sans-serif;
      font-weight: 400; }
    .footer__formIndex__nombre__input {
      font-size: 1.8rem;
      height: 4rem;
      font-family: "Work Sans", sans-serif;
      font-weight: 400; }
    .footer__formIndex__email__label {
      font-size: 1.8rem;
      font-family: "Work Sans", sans-serif;
      font-weight: 400; }
    .footer__formIndex__email__input {
      height: 4rem;
      font-size: 1.8rem;
      font-family: "Work Sans", sans-serif;
      font-weight: 400; }
    .footer__formIndex__telefono__label {
      font-size: 1.8rem;
      font-family: "Work Sans", sans-serif;
      font-weight: 400; }
    .footer__formIndex__telefono__input {
      height: 4rem;
      font-family: "Work Sans", sans-serif;
      font-weight: 400;
      font-size: 1.8rem; }
    .footer__formIndex__pregunta__texto {
      font-size: 2rem;
      font-family: "Work Sans", sans-serif;
      font-weight: 400; }
    .footer__formIndex__optionEmail {
      display: flex;
      align-items: center;
      margin-left: 1.2rem; }
      .footer__formIndex__optionEmail__label {
        font-size: 1.8rem;
        font-family: "Work Sans", sans-serif;
        font-weight: 400; }
    .footer__formIndex__optionTelefono {
      display: flex;
      align-items: center; }
      .footer__formIndex__optionTelefono__label {
        font-size: 1.8rem;
        font-family: "Work Sans", sans-serif;
        font-weight: 400; }
    .footer__formIndex__comentarios__input {
      font-family: "Work Sans", sans-serif;
      font-weight: 400;
      font-size: 4rem; }
    .footer__formIndex__botonSubmit {
      display: flex;
      justify-content: flex-end; }
      .footer__formIndex__botonSubmit__boton {
        width: 20rem;
        height: 4rem;
        background-color: #f8cf57;
        border-radius: 0.5rem;
        border: none;
        font-family: "Work Sans", sans-serif;
        font-weight: 400;
        font-size: 1.4rem; }

input[type="radio"] {
  border: 0.2rem solid #f8cf57;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  background-color: transparent;
  margin-right: 1.5rem; }

.headers {
  display: flex;
  justify-content: space-between;
  margin: 0 5rem;
  height: 8rem; }
  .headers__logo {
    font-size: 1.5rem;
    padding: 0 1rem;
    display: flex;
    align-items: center; }
  .headers__navBar {
    display: flex;
    justify-content: space-between;
    width: 40rem; }
    .headers__navBar__boton {
      border: none;
      background-color: transparent; }
      .headers__navBar__boton--textOscuro {
        color: #c3457e;
        text-decoration: none;
        font-weight: 500;
        font-size: 1.3rem; }
      .headers__navBar__boton--textClaro {
        color: #f8cf57;
        text-decoration: none;
        font-weight: 500;
        font-size: 1.3rem; }

.headerContacto {
  background-image: url(../../imagenes/jeruncioCall.png);
  height: 80rem;
  background-size: cover;
  position: relative; }
  .headerContacto__row1 {
    display: flex;
    justify-content: space-between;
    height: 8rem;
    width: 100%; }
    .headerContacto__row1__logo {
      font-size: 1.5rem;
      padding: 0 1rem;
      display: flex;
      align-items: center; }
    .headerContacto__row1__navBar {
      display: flex;
      justify-content: space-between;
      width: 60rem;
      padding-right: 15rem; }
      .headerContacto__row1__navBar__boton {
        border: none;
        background-color: transparent; }
        .headerContacto__row1__navBar__boton--text {
          color: #f8cf57;
          text-decoration: none;
          font-weight: 400;
          font-size: 1.3rem;
          font-family: "Work Sans", sans-serif; }
  .headerContacto__row2 {
    position: absolute;
    top: 90%;
    right: 15%; }
    .headerContacto__row2__text {
      font-family: "Work Sans", sans-serif;
      font-weight: 900;
      font-size: 4rem;
      line-height: 4.8rem;
      color: #121212; }

.footerContacto {
  padding: 0rem 20rem;
  background: #ffd4e8;
  height: auto; }
  .footerContacto__row {
    display: flex; }
  .footerContacto__parrafo {
    display: flex; }
    .footerContacto__parrafo__text {
      color: #870640;
      font-size: 3.2rem;
      font-family: "Work Sans", sans-serif;
      font-weight: 700; }
  .footerContacto__col1 {
    width: 70%; }
    .footerContacto__col1__formContacto {
      margin-bottom: 5rem; }
      .footerContacto__col1__formContacto__textArea {
        width: 100%;
        border: none;
        height: 20rem;
        padding: 1rem;
        font-size: 2rem;
        font-family: "Work Sans", sans-serif;
        font-weight: 400; }
      .footerContacto__col1__formContacto__btns {
        display: flex;
        justify-content: flex-end; }
        .footerContacto__col1__formContacto__btns__btnSend {
          width: 20rem;
          height: 4rem;
          background-color: #c3457e;
          border-radius: 0.5rem;
          border: none;
          font-family: "Work Sans", sans-serif;
          font-weight: 400;
          font-size: 1.2rem;
          color: white; }
  .footerContacto__col2 {
    width: 30%;
    display: flex;
    justify-content: flex-end; }
    .footerContacto__col2__contacto {
      height: 35rem;
      width: 90%;
      border-radius: 1rem;
      background-color: transparent;
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      .footerContacto__col2__contacto__titulo {
        font-size: 2.4rem;
        font-weight: 900;
        font-family: "Work Sans", sans-serif;
        margin-bottom: 2rem; }
      .footerContacto__col2__contacto__datos {
        margin-bottom: 4rem;
        font-size: 1.8rem;
        font-family: "Work Sans", sans-serif;
        font-weight: 400; }
        .footerContacto__col2__contacto__datos--bold {
          font-weight: 700;
          font-family: "Work Sans", sans-serif; }
        .footerContacto__col2__contacto__datos--correoBold {
          display: block;
          font-weight: 700;
          font-family: "Work Sans", sans-serif; }
      .footerContacto__col2__contacto__redes {
        margin-top: 3rem;
        width: 100%; }
        .footerContacto__col2__contacto__redes__titulo {
          font-size: 1.8rem;
          font-family: "Work Sans", sans-serif;
          font-weight: 400; }
        .footerContacto__col2__contacto__redes__links {
          display: flex;
          justify-content: space-between; }
          .footerContacto__col2__contacto__redes__links__link {
            background-color: #c3457e;
            border-radius: 3rem;
            padding: 1rem;
            display: flex;
            text-decoration: none; }
            .footerContacto__col2__contacto__redes__links__link__img {
              color: #ffffff;
              font-size: 2rem; }

input[type="radio"][id="flexRadioDefault3"] {
  border: 0.2rem solid #c3457e;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  background-color: transparent;
  margin-right: 1.5rem; }

input[type="radio"][id="flexRadioDefault4"] {
  border: 0.2rem solid #c3457e;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  background-color: transparent;
  margin-right: 1.5rem; }

* {
  font-family: work sans; }

.nombreEvento .subtitulo-evento {
  font-size: 32px;
  font-family: work sans;
  font-weight: bold;
  text-align: center; }

.nombreEvento .parrafo-evento {
  font-family: work sans;
  font-size: 18px;
  margin: 36px 34.5px 48px 34.5px; }

.nombreEvento .botonTeatro {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: #C3457E; }
  .nombreEvento .botonTeatro .botonTeatro2 {
    width: 194px;
    height: 45px;
    padding: 8px 24px 8px 24px;
    background-color: white;
    color: #C3457E;
    border-radius: 10px;
    border-color: #C3457E;
    border-width: 0.75px;
    font-weight: 500;
    font-family: work sans;
    font-size: 14px;
    line-height: 16px; }

.conversemos-agenda {
  background-color: #a71758;
  color: #ffffff;
  margin-bottom: 40px;
  margin-top: 30px; }
  .conversemos-agenda .col1-conversar-agenda {
    margin-left: 100px;
    margin-bottom: 20px; }
    .conversemos-agenda .col1-conversar-agenda .h3-conversar-agenda {
      font-size: 34px;
      margin-top: 20px;
      margin-bottom: 15px;
      font-weight: bold; }
    .conversemos-agenda .col1-conversar-agenda .p-conversar-agenda {
      font-size: 18px; }
  .conversemos-agenda .boton-conversar-agenda {
    display: flex;
    align-items: center;
    justify-content: center; }
    .conversemos-agenda .boton-conversar-agenda .boton-conversar-agenda2 {
      width: 311px;
      height: 40px;
      font-size: 14px;
      border-radius: 10px;
      background-color: #f8cf57; }

.videos-yt {
  text-align: center; }

.img-tm {
  width: 335px; }

.subtitle {
  margin-top: 20px;
  font-size: 25px;
  margin-bottom: 30px; }

.subtitulo-conoceme {
  color: #c3457e;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px; }

.margin-parrafos-top {
  margin-right: 50px; }
  .margin-parrafos-top .parrafos-conoceme {
    font-size: 15px; }

.margin-parrafos-bottom {
  margin-left: 50px; }
  .margin-parrafos-bottom .parrafos-conoceme {
    font-size: 15px; }

.margen-conoceme {
  margin-left: 100px; }

.titulos-listas-conoceme {
  font-weight: bold;
  font-size: 20px; }
  .titulos-listas-conoceme .listas-items::marker {
    font-size: 30px;
    color: #f8cf57;
    -right: 50px; }

.subtitle {
  margin-top: 20px;
  font-size: 25px;
  margin-bottom: 30px; }

.subtitulo-conoceme {
  color: #c3457e;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px; }

.listas-conoceme {
  font-size: 15px; }

.listas-items::marker {
  font-size: 30px;
  color: #f8cf57;
  -right: 50px; }

.margen-conoceme {
  margin-left: 100px; }

.titulos-listas-conoceme {
  font-weight: bold;
  font-size: 20px; }

.footer-conoceme {
  background-color: #d8ab27; }

.textos-footer-conoceme {
  color: #ffffff;
  margin-left: 5%;
  font-size: 15px; }

.hr-footer-conoceme {
  padding-top: 10px;
  color: #d8ab27; }

.hr2-footer-conoceme {
  color: white;
  height: 3px; }

.logos-conoceme {
  width: 25px;
  margin-right: 10px;
  margin-bottom: 10px; }

.parrafos-conoceme {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0,02em; }

.margin-parrafos-top {
  margin-right: auto; }

.margin-parrafos-bottom {
  margin-left: auto;
  height: 424px;
  width: 641px; }
  .margin-parrafos-bottom .h3-conoceme {
    font-size: 32px;
    font-family: work sans;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 700; }
  .margin-parrafos-bottom .h5-conoceme {
    font-size: 24px;
    text-align: center;
    margin-bottom: 24px;
    font-family: work sans;
    font-weight: 700; }

.miTrabajo-conoceme {
  background-color: #fcedbf;
  color: #121212;
  margin-bottom: 50px;
  margin-top: 30px; }
  .miTrabajo-conoceme .conoce-conoceme {
    margin-left: 250px;
    margin-bottom: 45px;
    margin-top: 45px; }
    .miTrabajo-conoceme .conoce-conoceme .h3-conoce {
      font-size: 40px;
      font-weight: 700;
      font-family: work sans;
      align-items: right; }
  .miTrabajo-conoceme .boton-conversar-agenda {
    display: flex;
    align-items: center;
    justify-content: center; }
    .miTrabajo-conoceme .boton-conversar-agenda .boton-conversar-agenda2 {
      width: 300px;
      height: 40px;
      font-size: 14px;
      color: #ffffff;
      background-color: #c3457e;
      font-weight: 400; }

.divs-espectaculos {
  margin-bottom: 50px; }
  .divs-espectaculos .cuadrado-animacionEventos {
    background-color: #fcedbf;
    width: 531px;
    height: 378px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: 10px; }
    .divs-espectaculos .cuadrado-animacionEventos .tituloAnimacion {
      text-align: center;
      margin-top: 27px;
      font-size: 28px;
      margin-bottom: 32px;
      font-weight: bold;
      font-family: work sans; }
    .divs-espectaculos .cuadrado-animacionEventos .parrafoAnimacion {
      font-family: work sans;
      font-size: 18px;
      margin: 0 35.5px 24px 35.5px; }
    .divs-espectaculos .cuadrado-animacionEventos .boton-animacion2 {
      display: flex;
      align-items: center;
      justify-content: center; }
      .divs-espectaculos .cuadrado-animacionEventos .boton-animacion2 .boton-animacion {
        width: 309px;
        height: 40px;
        padding: 8px 24px 8px 24px;
        background-color: #c3457e;
        border-radius: 10px;
        border: none;
        font-weight: 500;
        font-family: work sans;
        font-size: 14px;
        line-height: 16px;
        color: white; }
  .divs-espectaculos .img-animacionEventos {
    width: 530px;
    margin-left: 10px;
    margin-right: auto; }
    .divs-espectaculos .img-animacionEventos .img-aE {
      width: 530px;
      height: 378px; }

.divs-teatros .cuadrado-presentacionTeatro {
  background-color: #ffd5e8;
  width: 531px;
  height: 490px;
  border-radius: 10px;
  margin-right: auto;
  margin-left: 10px; }
  .divs-teatros .cuadrado-presentacionTeatro .tituloTeatro {
    text-align: center;
    margin-top: 26px;
    font-weight: bold;
    font-size: 28px;
    font-family: work sans;
    line-height: 32px;
    margin-bottom: 32px; }
  .divs-teatros .cuadrado-presentacionTeatro .parrafosTeatro {
    font-family: work sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    margin: 0 35.5px 24px 35.5px; }
  .divs-teatros .cuadrado-presentacionTeatro .botonTeatro {
    display: flex;
    align-items: center;
    justify-content: center; }
    .divs-teatros .cuadrado-presentacionTeatro .botonTeatro .botonTeatro2 {
      width: 309px;
      height: 40px;
      padding: 8px 24px 8px 24px;
      background-color: #f8cf57;
      border-radius: 10px;
      border: none;
      font-weight: 500;
      font-family: work sans;
      font-size: 14px;
      line-height: 16px; }

.divs-teatros .img-presentacionTeatro {
  width: 550px;
  margin-right: 20px;
  margin-left: auto; }
  .divs-teatros .img-presentacionTeatro .img-pT {
    width: 530px;
    height: 490px; }

.habilidades .bloqueMalabarista {
  width: 310px;
  height: 191px;
  border-radius: 10px;
  background-color: #FFD5E8;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px; }
  .habilidades .bloqueMalabarista .pMalabarista {
    font-size: 32px;
    line-height: 40px;
    text-align: center; }

.habilidades .bloqueEquilibrio {
  width: 310px;
  height: 168px;
  background: #F8CF57;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .habilidades .bloqueEquilibrio .pEquilibrio {
    font-size: 32px;
    text-align: center; }

.centrado-habilidades {
  display: flex;
  align-items: center;
  justify-content: center; }

.img-marginbotom {
  margin-bottom: 24px; }

* {
  margin: 0%;
  padding: 0%; }

html {
  font-size: 62.5%; }

body {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  text-decoration: none; }
