.subtitle{
    margin-top: 20px;
    font-size: 25px;
    margin-bottom: 30px;
}

.subtitulo-conoceme{
    color: #c3457e;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.margin-parrafos-top{
    margin-right: 50px;
    .parrafos-conoceme{
        font-size: 15px;
    }
}

.margin-parrafos-bottom{
    margin-left: 50px;
    .parrafos-conoceme{
        font-size: 15px;
    }
}

.margen-conoceme{
    margin-left: 100px  ;
    ;
}

.titulos-listas-conoceme{
    font-weight: bold;
    font-size: 20px;
    .listas-items::marker{
        font-size: 30px;
        color: #f8cf57;
        -right: 50px;
    }
}

.subtitle{
    margin-top: 20px;
    font-size: 25px;
    margin-bottom: 30px;
}
.subtitulo-conoceme{
    color: #c3457e;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.listas-conoceme{
    font-size: 15px;
}

.listas-items::marker{
    font-size: 30px;
    color: #f8cf57;
    -right: 50px;
}
.margen-conoceme{
    margin-left: 100px  ;
    ;
}
.titulos-listas-conoceme{
    font-weight: bold;
    font-size: 20px;
}

.footer-conoceme{
    background-color: #d8ab27;
}
.textos-footer-conoceme{
    color: #ffffff;
    margin-left: 5%;
    font-size: 15px;
}
.hr-footer-conoceme{
    padding-top: 10px;
    color: #d8ab27;
}
.hr2-footer-conoceme{
    color: white;
    height: 3px;
}

.logos-conoceme{
    width: 25px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.parrafos-conoceme{
    font-size: 15px;
}
.margin-parrafos-top{
    margin-right: 50px;
}
.margin-parrafos-bottom{
    margin-left: 50px;
}