@import "dinamics/variables";
@import "index/header_index.scss";
@import "index/main_index.scss";
@import "index/footer_index.scss";
@import "headers.scss";
@import "contacto/header_contacto";
@import "contacto/footer_contacto";
@import "agenda";
@import "galeria";
@import "conoceme";

//***********RESETS****************************
* {
  margin: 0%;
  padding: 0%;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  text-decoration: none;
}
