// PRIMARIOS********---------************
$bordo: #870640;
$bordo-claro: #c3457e;
$rosa: #ee91bc;
$rosa-claro: #ffd4e8;

// ACENTO********---------************
$amarillo: #f8cf57;
$amarillo-oscuro: #d8ab27;
$beige: #fcedbf;

// NEUTROS********---------************
$negro: #121212;
$gris-oscuro: #5b5b5b;
$gris: #9e9e9e;
$gris-claro: #dbdbdb;
$blanco: #ffffff;
