.header {
  width: 100%;
  height: 65rem;
  padding: 0 5rem;
  background-color: $gris;
  &__row1 {
    display: flex;
    justify-content: space-between;
    height: 8rem;
    &__logo {
      font-size: 1.5rem;
      border: 0.1rem solid black;
      padding: 0 1rem;
      display: flex;
      align-items: center;
    }

    &__navBar {
      display: flex;
      justify-content: space-between;
      width: 40rem;
      // border: 0.1rem solid black;

      &__boton {
        border: none;
        background-color: transparent;
        &--text {
          color: $amarillo;
          text-decoration: none;
          font-weight: 500;
          font-size: 1.3rem;
        }
      }
    }
  }
  &__row2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    &__presentacion {
      display: flex;
      flex-direction: column;
      margin-bottom: 20rem;

      &__titulo {
        font-size: 3rem;
        font-weight: 500;
        color: $blanco;
      }
      &__boton {
        width: 14rem;
        height: 2.3rem;
        background-color: $amarillo;
        border-radius: 0.5rem;
        border: none;
        font-weight: 500;
      }
    }
  }
}
