.header {
  width: 100%;
  height: 80rem;
  position: relative;
  &__carrousel {
    z-index: -99;
    overflow: hidden;
    height: 100%;
    &__imgs {
      &__img {
        width: 100%;
      }
    }
  }
  &__row1 {
    display: flex;
    justify-content: space-between;
    height: 8rem;
    position: absolute;
    width: 100%;
    &__logo {
      font-size: 1.5rem;
      padding: 0 1rem;
      display: flex;
      align-items: center;
    }

    &__navBar {
      display: flex;
      justify-content: space-between;
      width: 60rem;
      padding-right: 15rem;

      &__boton {
        border: none;
        background-color: transparent;
        &--text {
          color: $amarillo;
          text-decoration: none;
          // font-weight: 500;
          font-size: 1.3rem;
        }
      }
    }
  }
  &__row2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 50rem;
    left: 25rem;
    &__presentacion {
      display: flex;
      flex-direction: column;
      // margin-bottom: 20rem;

      &__titulo {
        font-size: 4rem;
        font-weight: 700;
        color: $blanco;
        font-family: "Work Sans", sans-serif;
      }
      &__boton {
        padding: 0.5rem 6.1rem;
        background-color: $amarillo;
        border-radius: 0.5rem;
        border: none;
        font-family: "Work Sans", sans-serif;
        font-size: 1.6rem;
        text-transform: uppercase;
      }
    }
  }
}
