.main {
  &__separadorEspectaculos {
    margin: 2rem 0;
    &__h2 {
      width: 100%;
      text-align: center;
      border-bottom: 0.2rem solid $bordo-claro;
      line-height: 0.1rem;
      margin: 0.1rem 0 0.2rem;
      &__span {
        background: #fff;
        padding: 0 10px;
        color: $bordo-claro;
        font-weight: 600;
      }
    }
  }
  &__espectaculos {
    padding: 0 5rem;

    &__articulos {
      display: flex;
      justify-content: space-between;
      &__articulo {
        width: 49%;
        padding: 1rem;
        // border: 0.1rem solid lightgray;
        box-shadow: 0 0.1rem 0.2rem $gris;
        border-radius: 0.6rem;
        &--img {
          width: 100%;
          height: 25rem;
          border: 0.1rem solid black;
        }
        &__row1 {
          padding: 0 1.5rem;
          margin: 1rem 0;
        }
        &__row2 {
          padding: 0 1.5rem;
        }
        &__row3 {
          display: flex;
          justify-content: flex-end;
          margin: 1.5rem 0;
          &__boton {
            width: 14rem;
            height: 2.3rem;
            background-color: $amarillo;
            border-radius: 0.5rem;
            border: none;
            font-weight: 500;
          }
        }
      }
    }
  }
  &__separadorAgenda {
    margin: 3rem 0;
    &__h2 {
      width: 100%;
      text-align: start;
      border-bottom: 0.2rem solid $bordo-claro;
      line-height: 0.1rem;
      margin: 0.1rem 0 0.2rem;
      &__span {
        background: #fff;
        padding: 0 10px;
        color: $bordo-claro;
        font-weight: 600;
        margin-left: 5rem;
      }
    }
  }
  &__agenda {
    display: flex;
    padding: 0 5rem;
    gap: 2rem;
    margin-bottom: 2rem;
    &__col1 {
      width: 80%;
    }
    &__col2 {
      display: flex;
      align-items: center;
      &__boton {
        width: 20rem;
        height: 2.3rem;
        background-color: transparent;
        border: 0.1rem solid $bordo-claro;
        border-radius: 0.5rem;
        font-weight: 500;
        color: $bordo-claro;
      }
      &__boton:hover {
        background-color: $bordo-claro;
        color: $blanco;
      }
    }
  }
}
