.headerContacto {
  background-image: url(../../imagenes/jeruncioCall.png);
  height: 80rem;
  // background: linear-gradient(
  //   180deg,
  //   rgba(255, 235, 244, 0) 41.67%,
  //   #ffd5e8 100%
  // );
  // width: 100%;
  background-size: cover;
  position: relative;

  &__row1 {
    display: flex;
    justify-content: space-between;
    height: 8rem;
    position: absolute;
    width: 100%;
    &__logo {
      font-size: 1.5rem;
      padding: 0 1rem;
      display: flex;
      align-items: center;
    }

    &__navBar {
      display: flex;
      justify-content: space-between;
      width: 60rem;
      padding-right: 15rem;

      &__boton {
        border: none;
        background-color: transparent;
        &--text {
          color: $amarillo;
          text-decoration: none;
          font-weight: 400;
          font-size: 1.3rem;
          font-family: $fontWorkSans;
        }
      }
    }
  }
  &__row2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 50rem;
    left: 25rem;
    &__presentacion {
      display: flex;
      flex-direction: column;
      // margin-bottom: 20rem;
    }
  }
}
