.bodyContacto {
  background: linear-gradient($gris-oscuro, $rosa-claro 40%);
}
.mainContacto {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 5rem;
  height: 35rem;
  &__text {
    font-size: 3rem;
    font-weight: 600;
  }
}
