.bodyContacto {
  background: linear-gradient($gris-oscuro, $rosa-claro 40%);
  height: 100%;
}
.mainContacto {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 5rem;
  height: 30rem;
  &__text {
    font-size: 3rem;
    font-weight: 600;
  }
}
