.mainEspectaculos {
  &__separadorAnimacion {
    margin: 2rem 0 2rem 5rem;
    &__h2 {
      width: 100%;
      text-align: start;
      border-bottom: 0.2rem solid $bordo-claro;
      line-height: 0.1rem;
      margin: 0.1rem 0 0.2rem;
      &__span {
        background: #fff;
        padding: 0 10px;
        color: $bordo-claro;
        font-weight: 600;
      }
    }
  }
  &__animacion {
    padding: 0 5rem 2rem;
    &__row1 {
      display: flex;
      justify-content: space-between;
      &__parrafo {
        width: 55%;
      }
      &__img {
        border: 0.1rem solid black;
        width: 40%;
        height: 20rem;
        border-radius: 0.5rem;
      }
    }
    &__row2 {
      display: flex;
      align-items: center;
      flex-direction: column;

      &__carrousel {
        margin: 2rem 0;
        width: 80rem;
        height: 30rem;
      }
      &__boton {
        width: 23rem;
        height: 2.5rem;
        background-color: $bordo-claro;
        border-radius: 0.5rem;
        font-weight: 400;
        color: $blanco;
        border: none;
        font-family: Arial, Helvetica, sans-serif;
      }
    }
  }
  &__separadorPresentaciones {
    margin: 2rem 5rem 2rem 0;
    &__h2 {
      width: 100%;
      text-align: end;
      border-bottom: 0.2rem solid $bordo-claro;
      line-height: 0.1rem;
      margin: 0.1rem 0 0.2rem;
      &__span {
        background: #fff;
        padding: 0 10px;
        color: $bordo-claro;
        font-weight: 600;
      }
    }
  }
  &__presentaciones {
    padding: 0 5rem;
    &__row1 {
      display: flex;
      justify-content: space-between;
      &__parrafo {
        width: 55%;
      }
      &__img {
        border: 0.1rem solid black;
        width: 40%;
        height: 20rem;
        border-radius: 0.5rem;
      }
    }
    &__row2 {
      display: flex;
      align-items: center;
      flex-direction: column;

      &__carrousel {
        margin: 2rem 0;
        width: 80rem;
        height: 30rem;
      }
      &__boton {
        width: 23rem;
        height: 2.5rem;
        background-color: $bordo-claro;
        border-radius: 0.5rem;
        font-weight: 400;
        color: $blanco;
        border: none;
        font-family: Arial, Helvetica, sans-serif;
      }
    }
  }
}
